:root{
    --main-gradient: linear-gradient(181deg, #F83600 0%, #F9D423 100%);
    --font-family-main:  "Montserrat", sans-serif;
    --header-height: 58px;
    --footer-height: 56px;
    --main-gray: #BFC4C9;
}