@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root{
    --main-gradient: linear-gradient(181deg, #F83600 0%, #F9D423 100%);
    --font-family-main:  "Montserrat", sans-serif;
    --header-height: 58px;
    --footer-height: 56px;
    --main-gray: #BFC4C9;
}
